[submodule "scripts/git-fuzzy"]
	path = scripts/git-fuzzy
	url = https://github.com/bigH/git-fuzzy.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/NvChad/NvChad
[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/LucianDavies/NvChad
